<!doctype html>
<html ng-app="testGuy">
	<head>
		<title>Hakobiya test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
		<script src="/js/hakobiya.js"></script>
		<script>
			// stuff
			var testModule = angular.module('testGuy', ['hakobiya']);
			testModule.run(function (Hakobiya) {
				console.log(Hakobiya);
				Hakobiya.connect("ws://localhost:8080/ws");
			});

			function ChatCtrl($scope, Hakobiya) {
				$scope.channel = "c12345";
				$scope.name = "Guest";
				$scope.chat = undefined;
				$scope.users = 0;
				$scope.sameName = false;

				Hakobiya.bind($scope, "channel",
				{
					"name": "%name",
					"chat": "=chat",
					"users": "$listeners",
					"sameName": "&same_name"
				});
			}

			function TestCtrl($scope, Hakobiya) {
				$scope.channel = "Q121";
				$scope.typers = 0;
				$scope.typing = false;
				$scope.users = 0;
				$scope.atleastonetyper = null;
				$scope.messages = [];

				Hakobiya.bind($scope, "channel",
				{
					"typers": "&typers",
					"typing": "%typing",
					"users": "$listeners",
					"atleastonetyper": "&is_someone_typing",
					"messages": "#answer"
				});
			}
		</script>
	</head>
	<body>
		<div ng-controller="ChatCtrl">
			{{users}} users <br />
			everyone has the same name: {{sameName}} <br />
			<ol>
				<li ng-repeat="m in chat.msgs">
					<b>{{m.name}}</b>: {{m.msg}}
				</li>
			</ol>
			<input type="text" ng-model="name"> <input type="text" ng-model="input" placeholder="Type stuff">
			<button ng-click="chat.send(input); input = ''">Send</button>
		</div>
		<hr>
		<div ng-controller="TestCtrl">
			{{users}} users <br />
			{{typers}} typers <br />
			{{atleastonetyper}} <br />
			<button ng-click="typing = !typing">Clicky</button>
			<hr>
			{{messages}}
		</div>
	</body>
</html>